.btn{
    box-shadow: 5px 5px 15px #B964E245;
    border: 1px solid #89AAE3;  
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    @include transition($t);
    &__wrap{
        padding: 6px 20px;
        a{
            @include text(12px,H, $lh-text, $white-cl, none);
        }
        i{
            // margin-right: 10px;
        }
    }
    &:hover{
        background:#99B1DA;
        @include transition($t);
    }
    &.yellow{
        border: 1px solid #FBB755; 
    }
    &.blue{
        margin-left: inherit;
        // padding: 10px 20px;
        background-color: #89AAE3;
        .btn__wrap{
            padding: 10px 20px;
            a{
                @include text(14px,HB, $lh-text, $white-cl, none);
            }
        }
        @include mobile{
            .btn__wrap{
                padding: 5px 5px;
                a{
                    white-space: nowrap; 
                    @include text(10px,HB, $lh-text, $white-cl, none);
                }
            }
        }
        @include tablet{
            .btn__wrap{
                padding: 5px 5px;
                a{
                    white-space: nowrap; 
                    @include text(10px,HB, $lh-text, $white-cl, none);
                }
            }
        }
    }
    &.btn_sologan{
        background:$white-cl;
        padding:10px;
        .btn__wrap{
            height: 100%;
            width: 100%;
        }
        a{
            @include text(14px,HM,$lh-text,$black-cl,none);
            width:100%;
            height: 100%;
            white-space: nowrap; 
        }
        &:hover{
            background:#89AAE3;
            a{
                color: $white-cl;
            }
        }
    }
    &.viewmore{
        background-color: #EFF5FF;
        border-radius: 20px;
        box-shadow: none;
        a{
            @include text(12px,HB,$lh-text,$black-cl,none)
        }
        .btn__wrap{
            padding: 10px;
            i{
                padding: 0 10px;
                margin-bottom: 3px;
            }
        }
        &:hover{
            background-color: #EFEFEF;
            a{
                color: #5F0E65;
            }
        }
    }
}
.text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        display: inline-block;
        @include text(14px,HB, $lh-text, #89AAE3, none);
        padding: 10px 20px;
        background-color: #EFF5FF;
        border-radius: 25px;
    }
    span{
        color: $black-cl;
    }
    @include mobile{
        p{
            @include text(12px,HB, $lh-text, #89AAE3, none);
            text-align: center;
        }
    }
    &.new{
        justify-content: inherit;
        margin: 30px 0px 0px 0px;
        p{
            color: $black-cl;
        }
    }
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #00000038;
}