.btn{
    box-shadow: 5px 5px 15px #B964E245;
    border: 1px solid #89AAE3;  
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    @include transition($t);
    &__wrap{
        padding: 6px 20px;
        a{
            @include text(12px,H, $lh-text, $white-cl, none);
        }
        i{
            // margin-right: 10px;
        }
    }
    &:hover{
        background:#99B1DA;
        @include transition($t);
    }
    &.yellow{
        border: 1px solid #FBB755; 
    }
    &.blue{
        margin-left: inherit;
        // padding: 10px 20px;
        background-color: #89AAE3;
        .btn__wrap{
            padding: 10px 20px;
            a{
                @include text(14px,HB, $lh-text, $white-cl, none);
            }
        }
        @include mobile{
            .btn__wrap{
                padding: 5px 5px;
                a{
                    white-space: nowrap; 
                    @include text(10px,HB, $lh-text, $white-cl, none);
                }
            }
        }
        @include tablet{
            .btn__wrap{
                padding: 5px 5px;
                a{
                    white-space: nowrap; 
                    @include text(10px,HB, $lh-text, $white-cl, none);
                }
            }
        }
    }
}
.text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        display: inline-block;
        @include text(14px,HB, $lh-text, #89AAE3, none);
        padding: 10px 20px;
        background-color: #EFF5FF;
        border-radius: 25px;
    }
    span{
        color: $black-cl;
    }
}